*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
img{
    max-width: 100px;
    height: auto;
   
}
.menu-icon{
    padding-left: 20px;
    font-size: 20px;
}
.nav-menu{
    display: flex;
}
.nav-menu a{
    font-size: 20px;
    color: #2c2c2c;
    padding: 20px 10px;
    text-transform: capitalize;
    font-weight: 900;
    transition: all .42s ease;
}

.nav-menu a:hover{
    color: rgb(131, 4, 4);

}
.nav-icon a{
    /* display: flex; */
    align-items: center;
    display: inline;
    justify-content: center;
    padding: 20px 10px;
    font-weight: 900;
    font-size: 16px;
    text-transform: capitalize;
    margin-left: 40px;
    color: #2c2c2c;
    transition: all .4s ease ;
    cursor: pointer;
}
.nav-icon a:hover{
    transform: scale(2.8);
    color: rgb(131, 4, 4);
}
section{
    padding: 5% 8%;
}
.main-home{
    width: 110;
    height: 100vh;
    background-image: url(images/banner-3.jpg);
    background-position:center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
}
.main-text h5{
    color: #ee1c460a;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.main-text h1{
    color: #000;
    font-size: 65px;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0px 10px;
}
.main-text p{
    color: #333c56;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
    
}
.main-text a{
  
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgb(185, 180, 180);
    padding: 12px 25px;
    transition: all .3s ease;
   
    background-color: #f5f2f2;
    color: #ee1c47;
}
.main-text a:hover{
    background-color: #ee1c47;
    color: #f5f2f2;
}
.down-arrow{
    position: absolute;
    top: 83%;
    right: 11%;
}
.down i{
    font-size: 30px;
    color: #f5f2f2;
    font-weight: 500;
    border: 1px solid black;
    border-radius: 50%;
    padding: 12px 12px;
    background-color: #ee1c47;
}
.down i:hover{
    background-color: #f5f2f2;
    color: #ee1c47;

}
/* <!------------- Trending Product Section --------------> */
.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    

}
.center-text h2 span{
    color: #ee1c47;
    border-bottom: 1px solid #ee1c47;
    
}
section{
    width: 100vw;
    height: 100vh;
}

a.reset {
    all: revert;
    text-decoration: none;}    
/* <!-------------  Product details Section --------------> */


.all-product-div {
   width: 100%; 
   height: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 10px;
   background-color: rgb(255, 255, 255);
}

.product-div{
    width: 25%;
    height: 480px;
    background-color: white;
  
}

.image-div{
    width: 100%;
    height:330px ;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 30px;
    transition: all ease-in-out .3s;
}
.image-div h5{
    font-size: 10px;
    background-color:#2cb737 ;
    width: fit-content;
    margin-left: 11px;
    margin-top: -16px;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    text-transform: uppercase;
}
.text{
    width: 100%;
    height: 80px;
    background: white;
   
    margin-top: -10px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
   
    
}

.rating{
    color: #ff8c00;
    font-size: 20px;
}
.price h4{
    font-size: 16px;
    font-weight: 400;
    color: #111;
}
.price p{
    font-size: 14px;
    color: #151515;
    font-weight: 600;
}
header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
}
.image-div:hover{
    transform: scale(0.9);
    
}
.clint-reviews{
    background-color: #f3f5f6;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    margin-top: 470px;
}
.reviews{
    text-align: center;
}
.reviews h3{
    color: #111;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;

}
.reviews img{
    height: auto;
    width: 100px;
    border-radius: 50%;
}
.reviews p{
    color: #707070;
    font-size: 15px;
    font-weight: 400px;
    line-height: 25px;
    margin-bottom: 10px;
}
.reviews h2{
    font-size: 22px;
    color: #000;
    font-weight: 400;
    margin-bottom: 1px;
}




/* <!------------------------------ Update News Section-------------------------- ---------> */



.up-center-text h2{
    text-align: center;
    color: #000;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 700;
    
}
.cart{
    display: flex;
    flex-direction: column;
}
.cart img{
     width: 380px;
     height: auto;
     border-radius: 5px;
     /* margin-left: 20px; */
}
.update-cart{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    
    gap: 15px;
}
.cart h5{
    color: #626872;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}
.cart h4{
    font-size: 18px;
    font-weight: 600;
    color: #111;
}
.cart p{
    color: #707070;
    max-width: 380px;
    line-height: 25px;
    margin-bottom: 12px;
}
.cart h6{
    font-size: 14px;
    font-weight: 500;
    color: #151515;
    text-transform: capitalize;

}


/* <!---------------- Contact  Section -----------------------> */

.contact{
    background-color: #f3f4f6;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    gap: 3rem;
    
}
.contact-info h4{
    color: #020202;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;

}
.first-info img{
    width: 140px;
    height: auto;
}
.social-icon i{
    font-size: 30px;
    color: #ee1c47;
    transition: all ease-in .5s;
    margin-right: 10px;
   
    
}
.social-icon i:hover{
    transform: scale(1.4);
    transition: all ease .4s;
    color: #565656;
}
.contact-info p{
    color: #565656;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8;
    cursor: pointer;
    transition: all .43s ease;
}
.contact-info p:hover{
    color: #ee1c47;
}
.last{
    height:40px ;
    text-align: center;
    background-color: #edfff1;
}
.end-text{
    background-color: #edfff1;
    
    padding: 20px;
    text-align: center;
   height: 40px;

    
    
}
.end-text p{
    color: #070606;
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    text-transform: capitalize;
    
}
/*--------------------------- Responsive Css----------------- */
@media (max-width:1200px) {
    header{
        padding:20px 3% ;
    }
    .logo img{
        transform: scale(.6);
    }
}
@media (max-width:1230px) {
    .update-cart{
        display: flex;
        justify-content: space-between;
            flex-wrap: wrap;}
    .cart{
        flex-direction: column;
        transform: scale(.8);
        margin-top: -40px;
    }
}
@media (max-width:890px) {
    header{
        padding:20px 3% ;
    }
    .logo img{
        transform: scale(.6);
    }
}
@media (max-width:800px) {
    header{
        padding:20px 3% ;
    }
    .logo img{
        transform: scale(.6);
    }
}
@media (max-width:765px) {
    header{
        padding:20px 1% ;
    }
    .logo img{
        transform: scale(.4);
    }
    .menu-icon{
        transform: scale(.2);
    }
    .all-product-div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

.product-detail{
    display: flex;
    align-items: center;
    justify-content: center;
}



